.project {
  display: flex;
  font-family: 'Roboto Slab';
  margin: 0 40px 0 70px;
  align-items: center;
  height: 90vh;
}

.project-grey-bg {
  display: flex;
  font-family: 'Roboto Slab';
  margin: 0 40px;
  align-items: center;
  height: 100vh;
  background-color: #f8fafd;
}

.project-content {
  flex: 1;
  padding: 10em 5em;
  h1 {
    font-size: 2em;
    color: #30333d;
    margin: 0;
  }
  p {
    font-size: 0.9em;
    font-weight: 300;
    color: #30333d;
    line-height: 1.5em;
  }
  .content-btn {
    display: flex;
    margin-top: 2em;
    text-decoration: none;
    .github-btn {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0.5em 1em;
      border-radius: 2em;
      border: #30333d 1px solid;
      margin-right: 1em;

      span {
        text-decoration: none;
        font-family: 'Roboto Slab';
        font-weight: 600;
        font-size: 0.8em;
        color: #30333d;
        padding-left: 0.5em;
      }
      img {
        width: 20px;
      }
    }
    .project-btn {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0.1em 2em;
      border-radius: 2em;
      border: #30333d 1px solid;
      background-color: #30333d;
      color: white;
      span {
        font-family: 'Roboto Slab';
        font-weight: 600;
        font-size: 0.8em;
        padding-right: 1.5em;
      }
    }
  }
  .content-icons {
    margin-top: 1em;
    span {
      font-family: 'Roboto';
      text-transform: uppercase;
      font-size: 0.5em;
      font-weight: 600;
      padding-right: 0.5em;
    }
    .icons {
      display: flex;
      margin-top: 0.6em;
      align-items: baseline;
      position: relative;
      img {
        padding-right: 1em;
      }
    }
  }
}

.project-image {
  flex: 1;
  .img-1 {
    max-width: 60%;
    height: auto;
  }
  .img-2 {
    max-width: 100%;
    height: auto;
    padding-left: 8em;
    padding-top: 2em;
  }
  .img-3 {
    max-width: 80%;
    height: auto;
  }
}

/* START TOOLTIP STYLES */
[tooltip] {
  position: relative; /* opinion 1 */
}

/* Applies to all tooltips */
[tooltip]::before,
[tooltip]::after {
  text-transform: none; /* opinion 2 */
  // font-size: 1em; /* opinion 3 */
  line-height: 1;
  user-select: none;
  pointer-events: none;
  position: absolute;
  display: none;
  opacity: 0;
}
[tooltip]::before {
  content: '';
  // border: 5px solid transparent; /* opinion 4 */
  z-index: 1001; /* absurdity 1 */
}
[tooltip]::after {
  content: attr(tooltip); /* magic! */

  /* most of the rest of this is opinion */
  font-family: 'Roboto Slab';
  font-weight: 600;
  font-size: 1.3em;
  text-align: center;

  /* 
    Let the content set the size of the tooltips 
    but this will also keep them from being obnoxious
    */
  min-width: 3em;
  max-width: 21em;
  white-space: nowrap;
  overflow: hidden;
  padding: 0.5em 1em;
  border-radius: 3em;
  background: #30333dcb;
  color: #fff;

  z-index: 1000; /* absurdity 2 */
}

/* Make the tooltips respond to hover */
[tooltip]:hover::before,
[tooltip]:hover::after {
  display: block;
}

/* don't show empty tooltips */
[tooltip='']::before,
[tooltip='']::after {
  display: none !important;
}

/* FLOW: DOWN */
[tooltip][flow^='down']::before {
  top: 10%;
}
[tooltip][flow^='down']::after {
  top: calc(100% + 5px);
}
[tooltip][flow^='down']::before,
[tooltip][flow^='down']::after {
  left: 30%;
  transform: translate(-50%, 0.5em);
}

/* KEYFRAMES */
@keyframes tooltips-vert {
  to {
    opacity: 1;
    transform: translate(-50%, 0);
  }
}

/* FX All The Things */
[tooltip]:not([flow]):hover::before,
[tooltip]:not([flow]):hover::after,
[tooltip][flow^='down']:hover::before,
[tooltip][flow^='down']:hover::after {
  animation: tooltips-vert 300ms ease-in forwards;
}

@media only screen and (max-width: 769px) {
  .project {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    margin-bottom: 3em;
  }

  .project-grey-bg {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f8fafd;
    margin: 2em 0;
    padding: 4em;
  }

  .project-content {
    width: 100%;
    height: auto;
    padding: 1em;
  }

  .project-image {
    display: flex;
    justify-content: center;

    .img-1 {
      max-width: 70%;
      height: auto;
      padding-right: 3em;
    }
    .img-2 {
      max-width: 80%;
      height: auto;
      padding-left:0;
    }
    .img-3 {
      max-width: 80%;
      height: auto;
    }
  }
}
