button {
  border: none;
}
.up {
  font-size: 1em;
  font-family: 'Roboto Slab';
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.3em;
  color: #30333d;
  margin: 0 auto;
  padding-left: 30px;
  &:hover {
    color: #30333dc2;
  }
  &:focus {
    outline: none;
  }
  
}


.down{
  font-family: 'Roboto Slab';
  font-weight: 800;
  font-size: 1.2em;
  font-weight: 400;
  &:hover {
    color: #30333dc2;
  }
  &:focus {
    outline: none;
  }
}