.about {
  display: flex;
  margin: 0 40px;
  background-color: #f8fafd;
  .about-text {
    width: 50%;
    font-family: 'Roboto Slab';
    padding: 8em 6em;
    h3 {
      font-size: 0.75em;
      font-weight: 700;
      color: #fb6f6f;
      text-transform: uppercase;
      letter-spacing: 1em;
      margin: 0;
    }
    h1 {
      font-size: 2em;
      color: #30333d;
      margin: 0;
    }
    p {
      font-size: 1em;
      font-weight: 300;
      color: #30333d;
      line-height: 1.5em;
    }
  }
  .about-image {
    width: 50%;

    background-color: #30333d;
    padding: 0;
    display: flex;
    img {
      max-width: 110%;
      height: auto;
      align-self: flex-end;
    }
  }
}

@media only screen and (max-width: 769px) {
  .about {
    margin: 0;
    padding: 2em;
    background-color: #f8fafd;

    .about-text {
      width: 100%;
      padding: 40px 0 0 0 ;
    }

    .about-image {
      display: none;
    }
  }
}

@media only screen and (min-width: 1300px) {
  .about {
    margin: 0 60px;
    .about-text {
      padding: 14em 10em;
      h3 {
        font-size: 1.2em;

      }
      h1 {
        font-size: 2.5em;

      }
      p {
        font-size: 1.2em;

      }
    }
    .about-image {
      width: 50%;
      background-color: #30333d;
      padding: 12em 13em 0 2em;
      display: flex;

    }
  }
}
