
.top,
.bottom,
.left,
.right {
  background: white;
  position: fixed;
  color: #30333d;
  text-align: center;
}
.left,
.right {
  top: 0;
  bottom: 0;
  width: 40px;
}
.left {
  left: 0;
  display: flex;
  align-items: center;
  .icons {
    img {
      padding: 0.3em 0;
    }
  }
}
.right {
	right: 0;
	display: flex;
	flex-direction: column;
justify-content: center;
	h2{
		transform: rotate(90deg);
		font-size: 15px;
    font-weight: 400;
	}
}

.top,
.bottom {
  left: 0;
  right: 0;
  height: 40px;

}
.top {
  top: 0;
  display: flex;
  justify-content: start;
  align-items: center;
  margin: 0 40px;
  span{
    font-size: 0.7em;
  }
  h1 {
    font-size: 1em;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #30333d;
    margin: 0 auto;
  }

}
.bottom {
  bottom: 0;
}
