.experience {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 200px 0;
  .experience-timeline-mobile {
    display: none;
  }
  .experience-title {
    text-align: center;
    h1 {
      font-size: 2em;
    }
    h2 {
      font-size: 1em;
      margin-bottom: 3em;
      font-weight: 200;
    }
  }

  .experience-timeline {
    width: 65%;
    height: 90px;
    justify-self: center;
    align-self: center;
    font-size: 15px;
  }
  .text-center {
    display: block;
    margin-top: 2em;
    text-align: center;
    line-height: 1.5em;
    span {
      font-size: 1em;
      font-weight: 400;
    }
  }
  a {
    color: #30333d;
  }
  a:visited {
    color: #30333d;
  }
  a:hover {
    color: #fb6f6f;
  }

  img {
    width: 30px;
    height: auto;
  }
}

@media only screen and (max-width: 769px) {
  .experience {
    margin: 0;
    padding: 2em 0;
    .experience-timeline {
      display: none;
    }
    .text-center {
      display: none;
    }
    .experience-timeline-mobile {
      display: block;
      .container {
        width: 100vw;
        padding: 2em 0;
        position: relative;
        overflow: hidden;
      }

      .container:before {
        content: '';
        position: absolute;
        top: 0;
        left: 50%;
        margin-left: -1px;
        width: 2px;
        height: 100%;
        background: #dfdfdf;
        z-index: 1;
      }

      .timeline-block {
        height: 7em;
        // width: 12em;
        width: -webkit-calc(50% + 8px);
        width: -moz-calc(50% + 8px);
        width: calc(50% + 8px);
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: flex;
        // -webkit-box-pack: justify;
        // -webkit-justify-content: space-between;
        // -moz-box-pack: justify;
        // justify-content: space-between;
        // clear: both;
      }

      .timeline-block-right {
        float: right;
      }

      .timeline-block-left {
        float: left;
        direction: rtl;
      }

      .marker {
        position: absolute;
        width: 0.9em;
        height: 0.8em;
        border-radius: 50%;
        background-color: #fb6f6f;
        border: 2px solid white;
        z-index: 9999;
     
      }

      .timeline-content {
        padding: 0 1.5em;
      }

      .timeline-content h3 {
        margin-top: -5px;
        font-size: 1.2em;
        font-weight: 500;
        color: #30333d;
      }
      .timeline-content h5 {
        margin-top: -15px;
        font-size: 1em;
        font-weight: 400;
        color: #30333d;
      }

      .timeline-content p {
        margin-top: -20px;
        font-size: 0.8em;
        font-weight: 300;
        color: #30333d;
      }

      // @media screen and (max-width: 768px) {
      //   .container:before {
      //     left: 8px;
      //     width: 2px;
      //   }
      //   .timeline-block {
      //     width: 100%;
      //     margin-bottom: 30px;
      //   }
      //   .timeline-block-right {
      //     float: none;
      //   }

      //   .timeline-block-left {
      //     float: none;
      //     direction: ltr;
      //   }
      // }
    }
  }
}
@media only screen and (min-width: 1300px) {
  .experience {
    padding: 340px 0;
    .experience-timeline-mobile {
      display: none;
    }
  }
}
