.contacts {
  display: flex;
  margin: 0 40px;
  align-items: center;
  font-family: 'Roboto Slab';
  background-color: #f8fafd;

  .contacts-left {
    width: 50%;
    padding: 3em 8em;
    h5 {
      color: #30333d;
      font-size: 1.5em;
      font-weight: 200;
      margin: 1em 0;
    }
    h6 {
      color: #7a7d88;
      font-size: 0.8em;
      font-weight: 400;
      margin: 1em 0;
      text-transform: uppercase;
      letter-spacing: 0.1em;
    }
  }
  .contacts-right {
    padding: 17em 5em;
    width: 50%;
    background-color: #30333d;
    color: #f8fafd;
    .contacts-btn {
      font-size: 1em;
      max-width: 250px;
      display: flex;
      align-items: center;
      justify-content: space-around;
      padding: 0.3em 0.2em;
      border-radius: 2em;
      border: #f8fafd 1px solid;
      color: #f8fafd;
    }
  }
}


@media only screen and (max-width: 769px) {
  .contacts {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    .contacts-left {
      width: 100%;
      padding: 4em 6em;
    }
    .contacts-right {
      width: 100%;
      padding: 4em 6em;

      .contacts-btn {
        max-width: 250px;
        display: flex;
        padding: 0.3em 0.2em;
      }
    }
  }
}
